@import url('https://fonts.googleapis.com/css?family=Roboto');

@media only screen and (max-width: 1024px) {
  .container {
    font-size: 1rem;
    margin: 0;
  }
  .tr {
    width: 90vw !important;
  }
  .td {
    width: 25vw !important;
  }
}

* {
  font-family: 'Roboto';
}

body {
  background-color: #34495c;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #34495c;
  color: #fff;
  padding: 1em;
  margin: 0 auto;
  width: 50vw;
}

.matchContainer {
  margin: 1em 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tr {
  width: 50vw;
  margin: 0.8em 0;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.buttonsContainer {
  text-align: center;
  margin: 1em auto;
  width: 400px;
}

button {
  width: 100px;
  border: 1px solid #fff;
  background-color: #34495c;
  padding: 1em 0;
  color: #fff;
  cursor: pointer;
  margin: 0.5em;
  text-align: center;
}

.tdCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10vw;
}

.tdLeft,
.tdRight {
  display: flex;
  align-items: center;
  width: 25vw;
  hyphens: auto;
  word-break: break-word;
}

.tdLeft {
  justify-content: flex-start;
  text-align: left;
}

.upTime,
.upDay {
  display: flex;
  width: 50vw;
  align-items: center;
  text-transform: none;
}

.upDay {
  justify-content: flex-end;
}

.upTime {
  justify-content: flex-start;
}

.tdRight {
  justify-content: flex-end;
  text-align: right;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateTime {
  font-size: 1rem;
  text-transform: none;
}

.td {
  width: 12.5vw;
}

img {
  padding: 0 0.5em;
  width: 48px;
  height: 48px;
}

@keyframes colors {
  0% {
    color: white;
  }
  25% {
    color: grey;
  }
  50% {
    color: white;
  }
  75% {
    color: grey;
  }
  100% {
    color: white;
  }
}

.loader {
  position: absolute;
  z-index: 2;
  left: calc(50% - 24px);
  animation-name: colors;
  animation-duration: 3s;
}
